.categoreact { background: green; }
.categoreact__input { display: block; background: blue; }
.form__input { display: block; background: blue; }
.categoreact__rendered { background: red; }
.categoreact__rendered--inner { background: pink; }
.categoreact__placeholder { background: orange; }
